{% extends '_layouts/master' %}
{% set bodyClass = 'abo-entry-page' %}

{% block content %}

	{% set introThumbLarge = {
	mode: 'crop',
	width: 1800

} %}
	{% set introThumbMedium = {
	mode: 'crop',
	width: 1024

} %}
	{% set introThumbSmall = {
	mode: 'crop',
	width: 480
} %}

	{% set thumbCardSmall = {
	mode: 'crop',
	width: 310,
	height: 248
} %}
	{% set thumbCardLarge = {
	mode: 'crop',
	width: 690,
	height: 552
} %}


	{# Intro #}
	<div class="intro">

		{% set headerImg = entry.headerImg.one() %}
		{% set headerImgMobile = entry.headerImgMobile.one() %}
		<picture>
			{% if headerImgMobile %}
				<source media="(max-width: 768px)" srcset="{{ headerImgMobile.url("fullWidthMedium") }}"/>
			{% endif %}
			<source media="(min-width: 1024px)" srcset="{{ headerImg.url("fullWidthLarge") }}"/>
			<source media="(min-width: 480px)" srcset="{{ headerImg.url("fullWidthMedium") }}"/>
			<img class="intro__image" alt="{{ entry.title }}" src="{{ headerImg.url("fullWidthSmall") }}">
		</picture>

		<div class="container">
			<div class="row row-align-center">
				<div class="gr-22 gr-24@medium">
					<div class="intro__overlay">
						<div class="intro__text">
							<h1 class="text--l">{{ entry.title }}</h1>
							<h2 class="text--s text--regular">{{ entry.subheadline }}</h2>
						</div>
						<a href="#" class="intro__button" data-scrollto=".main">
							<span class="button__text">
								Scroll
							</span>
							{{ svg('@webroot/assets/img/arrow-left.svg')|attr({class: "button__arrow"}) }}
						</a>
					</div>
				</div>
			</div>
		</div>

	</div>

	<main
		class="main">

		{# Modules #}
		{% for module in entry.modules.level(1).all() %}
			{% include["_modules/" ~ module.type] %}
		{% endfor %}
	</main>


	{# show other abo entries #}
	{% set aboEntries = craft.entries.section("abo").id('not ' ~ entry.id).all() %}

	<div class="module module--large-spacing">
		<div class="container">
			<div class="row row-align-center">
				<div class="gr-22 gr-20@medium gr-16@full no-gutter">
					<div class="row">
						<div class="gr-24">
							<h5 class="module__subtitle">
								Möchtest du auch in anderen Bereichen durchstarten?
							</h5>
						</div>
						{% for aboEntry in aboEntries %}
							<div class="gr-24 gr-8@tiny">

								<a class="card__item--landscape" href="{{ aboEntry.url }}">
									<img class="card__image" src="{{ aboEntry.previewImgLandscape.one().url(thumbCardSmall) }}" srcset="{{ aboEntry.previewImgLandscape.one().url(thumbCardLarge) }} 1387w, {{ aboEntry.previewImgLandscape.one().url(thumbCardSmall) }} 310w" sizes="100vw" alt="{{ aboEntry.title ~ ' - ' ~ aboEntry.subheadline }}" loading="lazy">
									<div class="card__text">
										<h4 class="text--m text--uppercase">{{ aboEntry.title }}</h4>
										<p class="text--s">{{ aboEntry.subheadline }}</p>
									</div>
								</a>

							</div>

						{% endfor %}

					</div>
				</div>
			</div>
		</div>
	</div>

	{% include "_modules/ctaQuote" with {
        quote: entry.quote|default("Let's get in touch"),
        linkUrl: entry.ctaQuote.url|default("mailto:mail@here-we-are.ch?subject=" ~ entry.title),
        linkTarget: entry.ctaQuote.target|default(""),
        linkText: entry.ctaQuote.text|default("Mail"),
        alignment: "gr-22 push-1 push-0@medium"
    } %}

{% endblock %}
