{% extends '_layouts/master' %}
{% set bodyClass = 'abo-overview-page' %}

{% block content %}

	{% set thumbCardSmall = {
	mode: 'crop',
	width: 310,
	height: 248
} %}
	{% set thumbCardLarge = {
	mode: 'crop',
	width: 690,
	height: 552
} %}
	{% set thumbCardLargeLandscape = {
	mode: 'crop',
	width: 1387,
	height: 555
} %}


	<main class="main">

		<div class="main__header">
			<div class="container">
				<div class="row">
					<div class="gr-22 prefix-1 prefix-2@medium gr-18@medium">
						<h1 class="text--xl">{{ entry.title }}</h1>
					</div>
				</div>
			</div>
		</div>

		{% include "_modules/wysiwyg" with {
            moduleAlign: "center",
            textContent: entry.lead|default(""),
            link: entry.backButton,
            linkText: "Zurück",
            linkIsHome: true,
            linkUrl: craft.entries.section('home').one().url,
            moduleAnimated: false
        } %}

		<div class="container">
			<div class="row row-align-center card__list-wrapper">
				<div class="gr-24 no-gutter gr-20@medium gutter-left@small gutter-right@small">

					<div class="card__list">
						<div class="row">

							{% for project in craft.entries.section("abo").limit(null).all() %}
								<div class="gr-24 gr-12@small">

									<a class="card__item" href="{{ project.url }}">
										<img class="card__image" src="{{ project.previewImgSquare.one().url(thumbCardSmall) }}" srcset="{{ project.previewImgSquare.one().url(thumbCardLarge) }} 690w, {{ project.previewImgSquare.one().url(thumbCardSmall) }} 310w" sizes="(min-width: 1024px) 50vw, 100vw" alt="{{ project.title ~ ' - ' ~ project.subheadline }}" loading="lazy">
										<div class="card__text">
											<h4 class="text--m text--uppercase">{{ project.title }}</h4>
											<p class="text--s">{{ project.subheadline }}</p>
										</div>
									</a>

								</div>
							{% endfor %}

						</div>
					</div>

				</div>
			</div>
		</div>

		{# Modules #}
		{% for module in entry.modules.level(1).all() %}
			{% include["_modules/" ~ module.type] %}
		{% endfor %}

	</main>
{% endblock %}
