{% extends '_layouts/master' %}
{% set bodyClass = '404-page' %}

{% block content %}

	<main
		class="main">

		{# Site Title #}
		<div class="main__header">
			<div class="container">
				<div class="row row-align-center@huge">
					<div class="gr-22 gr-20@small gr-19@medium gr-18@large gr-16@huge gr-15@full">
						<h1 class="text--xl">Da wurdest du aber etwas kreativ mit der URL – Überlass doch das kreative uns.</h1>
						<br class="hide@medium">
						<div class="wysiwyg">
							<div class="main__back-button error-btn">
								<a href="{{ siteUrl }}" class="button">
									{{ svg('@webroot/assets/img/arrow-left.svg')|attr({class: "button__arrow"}) }}
									<span class="button__text">
										Zur Startseite
									</span>
								</a>
							</div>
						</div>
					</div>

					{% if base.errorImg %}
						<div class="gr-24 tar@large">
							<img class="error-img" src="{{ base.errorImg.one().url() }}" alt="error-img">
						</div>
					{% endif %}

				</div>
			</div>
		</div>

	</main>

{% endblock %}
