.button {
  @extend .text--xxs;
  @extend .text--medium;

  // Reset default browser button styles
  appearance: none;
  margin: 0;
  background: transparent;
  border: 0;
  border-radius: 0;
  line-height: normal;
  user-select: none;
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  display: inline-flex;
  align-items: center;
  padding: 1em 1.3em;
  margin: -0.3em -1.3em;
  color: inherit;
  text-decoration: none;
  cursor: pointer;

  &__arrow {
    & + .button__text {
      margin-left: 0.7em;
    }
  }
  &__text {
    & + .button__arrow {
      margin-left: 0.7em;
    }
  }

  &:hover {
    .button__arrow {
      animation: wiggle 600ms ease-in-out 1;
    }
  }

  &--inverted {
    @extend .button;
    color: $color-white;
  }

  &__group {
    &--prevnext {
      margin-bottom: 1.25rem;
      text-align: center;

      @include respond-to(medium) {
        margin-bottom: 3.5rem;
        text-align: right;
      }
      @include respond-to(large) {
        margin-bottom: 4.75rem;
      }
      @include respond-to(full) {
        margin-left: -1rem;
        text-align: center;
      }
      .button {
        margin-left: -1.1em;
        margin-right: -1.1em;
      }
    }
  }
}
