html {
  height: -webkit-fill-available;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  color: $color-black;
}

::selection {
  background-color: $color-black;
  color: $color-white;
}

img,
picture,
svg {
  max-width: 100%;
}
