@keyframes wiggle {
  0% {
    transform: translateX(0);
  }
  33% {
    transform: translateX(-2px);
  }
  66% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes wiggle-vertical {
  0% {
    transform: translateY(0);
  }
  33% {
    transform: translateY(-2px);
  }
  66% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(0px);
  }
}
