[data-scroll-container] {
  width: 100vw;
  margin-top: $navbar-height;
  height: calc(100vh - #{$navbar-height});
  height: calc(calc(var(--vh, 1vh) * 100) - #{$navbar-height});

  .home-page & {
    margin-top: 0;
    height: 100vh;
    height: calc(calc(var(--vh, 1vh) * 100));
  }

  @include respond-to(medium) {
    height: 100vh;
    margin-top: 0;
  }
}

.scroll-content {
  height: 100%;
  width: 100%;
}

.scrollbar-track {
  background-color: rgba($color-white, 0.2) !important;
  z-index: $z-scrollbar !important;
}
.scrollbar-thumb {
  background-color: rgba($color-black, 0.5) !important;
  border-radius: 0 !important;
}
