.text {
  &--xxl {
    @include responsive-font(16vw, 70px, 250px, 168px);
    line-height: 0.8;
    text-transform: uppercase;
    font-weight: $font-bold;
  }

  &--xl {
    @include responsive-font(6vw, 48px, 100px, 75px);
    line-height: 0.95;
    text-transform: uppercase;
    font-weight: $font-bold;
    word-break: normal;
  }

  &--l {
    @include responsive-font(4.2vw, 40px, 45px, 42px);
    line-height: 1.1;
    text-transform: uppercase;
    font-weight: $font-bold;
  }

  &--m {
    @include responsive-font(3.2vw, 25px, 40px, 32px);
    line-height: 1.1;
  }

  &--s {
    @include responsive-font(1.9vw, 16px, 22px, 19px);
  }

  &--xs {
    @include responsive-font(1.8vw, 16px, 20px, 18px);
  }

  &--xxs {
    @include responsive-font(1.1vw, 10px, 12px, 11px);
  }

  &--regular {
    font-weight: $font-regular;
  }
  &--medium {
    font-weight: $font-medium;
  }
  &--bold {
    font-weight: $font-bold;
  }
  &--uppercase {
    text-transform: uppercase;
  }

  &__link {
    color: inherit;
    &--undecorated {
      @extend .text__link;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    &--unstyled {
      @extend .text__link;
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
