body,
html {
  font-family: $font-base;
  font-weight: $font-regular;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  letter-spacing: 0.02em;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

b,
strong {
  font-weight: $font-medium;
}
