.footer {
  position: sticky;
  top: 100vh;

  &__inner {
    position: relative;
    padding-top: 80px;
    padding-bottom: 26px;

    @include respond-to(medium) {
      padding-top: 200px;
      padding-bottom: 130px;
    }
  }

  &__copyright {
    @extend .text--xs;
  }
  &__email,
  &__phone {
    @extend .text--xs;
    @extend .text__link--undecorated;
  }

  &__button {
    @extend .button;
    opacity: 1;
    position: absolute;
    bottom: 26px;
    right: 25px;
    z-index: $z-arrow-scrolltotop;
    transition: opacity 350ms ease;
    animation: wiggle-vertical 750ms ease-in-out infinite;

    @include respond-to(medium) {
      display: none;
    }

    .js-overlay-active &,
    .js-nav-active & {
      opacity: 0;
    }
  }
}
