// .headroom {
//   position: fixed;
//   top: 0;
//   left: 0;
//   right: 0;
//   transition: all 0.2s ease-in-out;
//   will-change: transform !important;
//   transition: transform 200ms linear !important;
// }
//
// .headroom--pinned {
//   transform: translateY(0%) !important;
// }
//
// .headroom--unpinned {
//   transform: translateY(-100%) !important;
// }
//
// .headroom--not-top {
//   // background-color: $white !important;
//   // transition: background-color 1000ms linear !important;
//   &.nav {
//     // box-shadow: 0 3px 16px #00000034 !important;
//     // box-shadow: 0 3px 10px #00000034 !important;
//     // transition: background-color 1000ms linear !important;
//     // background-color: rgba(255,255,255,1);
//     // background-color: rgba(251,201,196,1);
//     background-color: rgba(251,201,196,0);
//     transition: all 200ms linear !important;
//   }
// }
//
//
// .event-entry-page {
//   .headroom--not-top {
//     &.nav {
//       background-color: rgba(255,229,194,1);
//     }
//   }
// }
