.main {
  overflow: hidden;

  &__header {
    margin-top: calc(1.5rem + #{$navbar-height});
    padding-bottom: 0;
  }

  &__title {
    @extend .text--xl;

    &--vertical {
      @extend .main__title;
      writing-mode: tb-rl;
      transform: rotate(-180deg);
    }
  }

  &__lead {
    @extend .text--s;
    @extend .module;
  }

  &__date {
    @extend .module;
    @extend .module--small-spacing-bottom;
    @extend .text--xxs;
    @extend .text--medium;
  }
}
