.module {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;

  @include respond-to(medium) {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
  }
  @include respond-to(large) {
    padding-top: 4.75rem;
    padding-bottom: 4.75rem;
  }

  &--large-spacing,
  &--teaser,
  &--marquee,
  &--quote {
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;

    @include respond-to(medium) {
      padding-top: 5.5rem;
      padding-bottom: 5.5rem;
    }
    @include respond-to(large) {
      padding-top: 8rem;
      padding-bottom: 8rem;
    }
  }

  &--small-spacing-bottom {
    padding-bottom: 0.25rem;

    @include respond-to(medium) {
      padding-bottom: 0.5rem;
    }
    @include respond-to(large) {
      padding-bottom: 1rem;
    }
  }

  &--large-spacing-bottom {
    padding-bottom: 1.75rem;

    @include respond-to(medium) {
      padding-bottom: 5.5rem;
    }
    @include respond-to(large) {
      padding-bottom: 8rem;
    }
  }

  &--large-spacing-top {
    padding-top: 1.75rem;

    @include respond-to(medium) {
      padding-top: 5.5rem;
    }
    @include respond-to(large) {
      padding-top: 8rem;
    }
  }

  &--no-spacing-top {
    padding-top: 0rem;
  }

  .main__date + & {
    padding-top: 0;
  }

  &--teaser {
    ::selection {
      background-color: $color-white;
      color: $color-black;
    }
  }

  &__headline {
    @extend .text--xl;
    margin-bottom: 1rem;

    @include respond-to(medium) {
      margin-bottom: 3rem;
    }
  }

  &__subtitle {
    @extend .text--s;
    font-weight: $font-bold;
    margin-bottom: 1rem;

    @include respond-to(medium) {
      margin-bottom: 1.5rem;
    }
  }
}
