<div class="module module--accordion accordion">

	<div class="container">
		<div class="row">

			{% if module.headline %}
			<div class="gr-22 prefix-1 prefix-3@medium gr-16@medium">
				<h1 class="module__headline">{{ module.headline }}</h1>
			</div>
			{% endif %}
			
			<div class="gr-22 prefix-1 gr-20@small prefix-2@small prefix-4@medium gr-16@medium">


				{% for i in module.accordion.all() %}
					<div class="accordion__wrapper" data-aos="fade-in" data-aos-delay="100" data-aos-offset="-200">
						<div class="push-0 gr-24">
							<div class="accordion__inner">
								<div class="accordion__title">
									{{ i.headline }}
								</div>
								<div class="accordion__content">
									<article class="accordion__text">
										{{ i.wysiwyg }}
									</article>
								</div>
								<div class="accordion__icon">
									{{ svg('@webroot/assets/img/arrow-down.svg')|attr({class: "accordion__arrow"}) }}
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>

</div>
