{% set thumbCardSmall = {
    mode: 'crop',
	width: 310,
	height: 248
} %}
{% set thumbCardLarge = {
	mode: 'crop',
	width: 690,
	height: 552
} %}
{% set thumbCardLargeLandscape = {
	mode: 'crop',
	width: 1387,
	height: 555
} %}


<div class="module module--accordion accordion">

	<div class="container">
		<div class="row">

			<div class="gr-22 prefix-1">

				<div class="row">
					{% for blogEntry in craft.entries.section("blog").limit(3).all() %}
						{% set img = blogEntry.previewImgLandscape.one() ?? blogEntry.headerImg.one()|default(null) %}
						<div class="gr-24 gr-11@small suffix-1@small gr-10@medium">
							<div class="card--blog {{ loop.index == 2 ? 'card--elevated' }}">
								<a class="card__item" href="{{ blogEntry.url }}">
									{% if img %}
										<img class="card__image" src="{{ img.url(thumbCardSmall) }}" srcset="{{ img.url(thumbCardLarge) }} 690w, {{ img.url(thumbCardSmall) }} 310w" sizes="(min-width: 1024px) 50vw, 100vw" alt="{{ blogEntry.title }}" loading="lazy">
									{% endif %}
									<div class="card__text">
										<date class="text--xxs text--medium">{{ blogEntry.postDate|date("d.m.Y") }}</date>
										<h4 class="text--m text--uppercase">{{ blogEntry.title }}</h4>
									</div>
								</a>
							</div>
						</div>
					{% endfor %}
					<div class="gr-24 gr-11@small suffix-1@small gr-10@medium">
						<div class="card--blog card--elevated" style="margin-bottom:0">
							<div class="wysiwyg">
								{{ module.lead }}
							</div>
							<div class="wysiwyg__cta">
								<a href="{{ craft.entries.section('blogOverview').one().url }}" class="wysiwyg__button">
									{{ svg('@webroot/assets/img/arrow-right.svg')|attr({class: "button__arrow"}) }}
									<span class="button__text">
										zum Blog
									</span>
								</a>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

</div>
