{% set quote = module is defined ? module.quote|striptags : quote  %}
{% set linkUrl = module is defined ? module.linkIt.url: linkUrl  %}
{% set linkTarget = module is defined ? module.linkIt.target: linkTarget %}
{% set linkText = module is defined ? module.linkIt.text : linkText  %}
{% set alignment = alignment is defined ? alignment : "gr-22 push-1 gr-22@medium push-0@medium"  %}

<div class="module module--quote">

	<div class="container">
		<div class="row">
			<div class="{{ alignment }}">

				<a class="quote" href="{{ linkUrl }}" {{ linkTarget ? "target=#{linkTarget}"}}>

					<div class="quote__text">
						{{- quote -}}
					</div>

					<div class="quote__cta">
						<div class="quote__button">
							{{ svg('@webroot/assets/img/arrow-right.svg')|attr({class: "button__arrow"}) }}
							<span class="button__text">
								{{- linkText -}}
							</span>
						</div>
					</div>

				</a>

			</div>
		</div>
	</div>

</div>
