<div class="module module--listing">

	<div class="container">
		<div class="row row-align-center">
			<div class="gr-22 gr-20@small gr-16@medium">

				<div class="listing">
					{% for i in module.listing.all() %}
						{% if i.itemOrLink %}
							<div class="listing__item">
								{% if i.itemOrLink.url %}
									<a class="listing__link" href="{{ i.itemOrLink.url }}" target="{{ i.itemOrLink.target }}">
										{{ i.itemOrLink.text }}
									</a>

								{% else %}
									<p class="listing__text">
										{{ i.itemOrLink.text }}
									</p>
								{% endif %}
							</div>
						{% endif %}
					{% endfor %}
				</div>

			</div>
		</div>
	</div>

</div>
