<div class="module module--marquee module--unanimated">
	<div class="marquee">

		{% for i in 0..2 %}
			<div class="marquee__part">
				{% for textRow in module.words %}
					<span class="marquee__word">{{ textRow.word }}</span>
					<span class="marquee__separator"></span>
				{% endfor %}
			</div>
		{% endfor %}

	</div>
</div>
