{% set media = module is defined ? module.media : media  %}

{% set thumbPortraitLarge = {
  mode: 'crop',
	width: 674
} %}

{% set thumbPortraitSmall = {
  mode: 'crop',
	width: 440
} %}

{% set thumbLandscapeLarge = {
  mode: 'crop',
	width: 1387
} %}
{% set thumbLandscapeSmall = {
  mode: 'crop',
	width: 700
} %}


<div class="module module--mediagrid">

	<div class="container">
		<div class="row">
			<div class="gr-22 push-1 gr-20@medium push-2@medium">

				<div class="mediagrid">

					{% for media in media.all() %}

						{% if media.type == "landscape" %}
							<div class="mediagrid__item--landscape">
								{% if media.wideMedia.one().kind == "video" %}
									<video class="mediagrid__video" preload loop autoplay muted playsinline disablepictureinpicture disableremoteplayback>
										<source src="{{ media.wideMedia.one().url() }}" type="{{ media.wideMedia.one().mimeType }}">
									</video>
								{% else %}
									<img class="mediagrid__image" src="{{ media.wideMedia.one().url(thumbLandscapeSmall)|default('') }}" srcset="{{ media.wideMedia.one().url(thumbLandscapeLarge)|default('')}} 1387w, {{ media.wideMedia.one().url(thumbLandscapeSmall)|default('')}} 700w" sizes="100vw" alt="" loading="lazy">
								{% endif %}
							</div>
						{% else %}
							<div class="mediagrid__item--portrait">
								{% if media.leftMedia.one().kind == "video" %}
									<video class="mediagrid__video" preload loop autoplay muted playsinline disablepictureinpicture disableremoteplayback>
										<source src="{{ media.leftMedia.one().url() }}" type="{{ media.leftMedia.one().mimeType }}">
									</video>
								{% else %}
									<img class="mediagrid__image" src="{{ media.leftMedia.one().url(thumbPortraitSmall)|default('') }}" srcset="{{ media.leftMedia.one().url(thumbPortraitSmall)|default('')}} 440w, {{ media.leftMedia.one().url(thumbPortraitLarge)|default('') }} 674w" sizes="(min-width: 1024px) 50vw, 100vw" alt="" loading="lazy">
								{% endif %}
							</div>
							<div class="mediagrid__item--portrait">
								{% if media.rightMedia.one().kind == "video" %}
									<video class="mediagrid__video" preload loop autoplay muted playsinline disablepictureinpicture disableremoteplayback>
										<source src="{{ media.rightMedia.one().url() }}" type="{{ media.rightMedia.one().mimeType }}">
									</video>
								{% else %}
									<img class="mediagrid__image" src="{{ media.rightMedia.one().url(thumbPortraitSmall)|default('') }}" srcset="{{ media.rightMedia.one().url(thumbPortraitSmall)|default('')}} 440w, {{ media.rightMedia.one().url(thumbPortraitLarge)|default('') }} 674w" sizes="(min-width: 1024px) 50vw, 100vw" alt="" loading="lazy">
								{% endif %}
							</div>
						{% endif %}

					{% endfor %}

				</div>

			</div>
		</div>
	</div>

</div>
