{% set thumbTeaserSmall = {
	mode: 'crop',
	width: 460,
	height: 552
} %}
{% set thumbTeaserMedium = {
	mode: 'crop',
	width: 690,
	height: 828
} %}
{% set thumbTeaserLarge = {
	mode: 'crop',
	height: 1200
} %}


<div class="module module--teaser module--unanimated">
	<div class="teaser">

		<div class="container">
			<div class="row">

				<div class="gr-22 prefix-1 gr-3@medium prefix-0@medium gr-2@full">
					<div class="teaser__title">Work</div>
				</div>

				<div class="gr-22 prefix-1 gr-7@medium prefix-0@medium gr-5@full">
					<div class="teaser__info">
						<div class="teaser__intro">{{ module.lead }}</div>
						<ul class="teaser__list hide show@medium">
							{% for project in module.projects.all() %}
								<li class="teaser__list-item {{ loop.first ? 'teaser__list-item--active'}}" data-scrollto="[data-project='{{project.slug}}']">
									{{ project.title }}
								</li>
							{% endfor %}
						</ul>
						<div class="teaser__cta">
							<a href="{{ siteUrl ~'work' }}" class="teaser__button">
								{{ svg('@webroot/assets/img/arrow-right.svg')|attr({class: "button__arrow"}) }}
								<span class="button__text">
									alle Projekte
								</span>
							</a>
						</div>
					</div>
				</div>

				<div class="teaser__gallery-wrapper gr-24 prefix-1@medium gr-13@medium prefix-4@full no-gutter">
					<div class="teaser__gallery">
						{% for project in module.projects.with(['previewImgHome']).all() %}
							<a class="teaser__item" data-project="{{project.slug}}" href="{{ project.url }}">

								{% set projectImage = project.previewImgHome[0] ?? null %}
								<div class="teaser__image-wrapper">
									<img class="teaser__image" src="{{ projectImage.url(thumbTeaserSmall) ?? null}}" srcset="{{ projectImage.url(thumbTeaserLarge) ?? null }} 1200w, {{ projectImage.url(thumbTeaserMedium) ?? null }} 690w, {{ projectImage.url(thumbTeaserSmall) ?? null }} 460w" sizes="(min-width: 1024px) 50vw, 100vw" alt="{{ project.title ~ ' - ' ~ project.subheadline }}" loading="lazy">
								</div>
								<div class="teaser__text">
									<h4 class="text--m text--uppercase">{{ project.title }}</h4>
									<p class="text--s">{{ project.subheadline }}</p>
								</div>
							</a>
						{% endfor %}
					</div>
				</div>

			</div>
		</div>

	</div>
</div>
