<div class="module module--scrolltext module--unanimated">

	<div class="container">
		<div class="row">
			<div class="gr-22 prefix-1 gr-24@medium prefix-0@medium">

				<div class="scrolltext">
					{% for textRow in module.words %}
						<div class="scrolltext__entry">{{ textRow.word }}</div>
					{% endfor %}
				</div>

			</div>
		</div>
	</div>

</div>
