{% set thumbTeamLarge = {
  mode: 'crop',
	width: 640
} %}

{% set thumbTeamSmall = {
  mode: 'crop',
	width: 390
} %}


<div class="module module--team">

	<div class="container">
		<div class="row team__row">

			{% for member in module.team.with(['portraitImgFirst']).all() %}
				{% set portraitFirst = member.portraitImgFirst[0] ?? null %}

				<div class="gr-22 gr-18@small gr-9@medium prefix-2@medium suffix-1@medium no-gutter">

					{# Overview / Cards #}
					<div class="team__trigger" data-modal="{{ member.slug }}">
						<div class="team__profile">
							<div class="team__profile-image">

								<img class="team__image" src="{{ portraitFirst.url(thumbTeamSmall) }}" 
								srcset="{{ portraitFirst.url(thumbTeamSmall)}} 390w,
								{{ portraitFirst.url(thumbTeamLarge) }} 640w"
								sizes="(min-width: 1024px) 50vw, 
								100vw" 
								alt="{{ member.title }}" >

							</div>
							<div class="team__profile-info">
								<span class="team__name">{{- member.title -}}</span>
								{{- ", " ~ member.job -}}
							</div>
						</div>

						<div class="team__cta">
							<div class="team__button">
								{{ svg('@webroot/assets/img/arrow-right.svg')|attr({class: "button__arrow"}) }}
								<span class="button__text">
									mehr
								</span>
							</div>
						</div>
					</div>

				</div>
			{% endfor %}

		</div>
	</div>

</div>
