{% set moduleAlign = module is defined ? module.moduleAlign : moduleAlign  %}
{% set textContent = module is defined ? module.wysiwyg : textContent  %}

{% switch moduleAlign %}
	{% case "left" %}
		{% set alignmentClass = "gr-13@medium prefix-0@medium" %}

	{% case "right" %}
		{% set alignmentClass = "gr-12@medium prefix-8@medium" %}

	{% default %}
		{% set alignmentClass = "prefix-4@medium gr-16@medium" %}
{% endswitch %}


<div class="module module--wysiwyg" style="background-color:#000000;color:#ffffff">
	<div class="container">
		<div class="row">
			<div class="gr-22 prefix-1 gr-20@small prefix-2@small {{ alignmentClass }}">

				<div class="wysiwyg">
					{{ textContent }}
				</div>

			</div>
		</div>
	</div>

</div>
