{% set moduleAlign = module is defined ? module.moduleAlign : moduleAlign  %}
{% set textContent = module is defined ? module.wysiwyg : textContent  %}
{% set moduleBackgroundColor = module is defined ? module.moduleBackgroundColor : moduleBackgroundColor|default(false)  %}
{% set moduleTextColor = moduleBackgroundColor ? (moduleBackgroundColor.getLightness() > 50 ? "#000000" : "#FFFFFF" ) : "#000000"  %}
{% set moduleAnimated = moduleAnimated is defined ? moduleAnimated : true   %}
{% set link = module is defined ? module.linkIt : link|default(false)  %}
{% set linkUrl = module is defined and module.linkIt ? module.linkIt.url : linkUrl|default(null)   %}
{% set linkTarget = module is defined and module.linkIt ? module.linkIt.target : linkTarget|default(null) %}
{% set linkText = module is defined and module.linkIt ? module.linkIt.text : linkText|default(null)  %}
{% set linkType = module is defined and module.linkIt ? module.linkIt.typeHandle : linkType|default("url")  %}
{% set linkElement = module is defined and module.linkIt ? module.linkIt.element : linkElement|default(null)  %}
{% set linkIsHome = module is defined and module.linkIt ? linkType == "entry" and linkElement.isHomepage : linkIsHome|default(false)  %}

{% switch moduleAlign %}
	{% case "left" %}
		{% set alignmentClass = "gr-15@medium prefix-0@medium" %}

	{% case "right" %}
		{% set alignmentClass = "gr-12@medium prefix-8@medium" %}

	{% default %}
		{% set alignmentClass = "prefix-4@medium gr-16@medium" %}
{% endswitch %}

<div class="module module--wysiwyg {{ not moduleAnimated ? 'module--unanimated' }}" style="background-color:{{ moduleBackgroundColor }};color:{{ moduleTextColor }}">
	<div class="container">
		<div class="row">
			<div class="gr-22 prefix-1 gr-20@small prefix-2@small {{ alignmentClass }}">

				<div class="wysiwyg">
					{{ textContent }}
				</div>

				{% if link %}
					<div class="wysiwyg__cta">
						<a href="{{ linkUrl }}" class="wysiwyg__button" target="{{ linkTarget }}">
							{% if linkIsHome %}
								{{ svg('@webroot/assets/img/arrow-left.svg')|attr({class: "button__arrow"}) }}
							{% else %}
								{{ svg('@webroot/assets/img/arrow-right.svg')|attr({class: "button__arrow"}) }}
							{% endif %}
							<span class="button__text">
								{{ linkText }}
							</span>
						</a>
					</div>
				{% endif %}

			</div>
		</div>
	</div>
</div>
