{% extends '_layouts/master' %}
{% set bodyClass = 'home-page' %}

{% block content %}

	{% set introThumbLarge = {
	mode: 'crop',
	width: 1800
} %}
	{% set introThumbMedium = {
	mode: 'crop',
	width: 1024
} %}
	{% set introThumbSmall = {
	mode: 'crop',
	width: 480
} %}


	{# Intro #}
	<div class="intro">

		{% if entry.bgVideo.one() and entry.bgVideoMobile.one() %}
			<video class="intro__video hide show@small" style="{{ entry.boxShadow ? 'opacity:0.' ~ (entry.boxShadow - 10)|abs }}" preload loop autoplay muted playsinline disablepictureinpicture disableremoteplayback>
				<source src="{{ entry.bgVideo.one().url() }}" type="video/mp4">
			</video>
			<video class="intro__video hide@small" style="{{ entry.boxShadow ? 'opacity:0.' ~ (entry.boxShadow - 10)|abs }}" preload loop autoplay muted playsinline disablepictureinpicture disableremoteplayback>
				<source src="{{ entry.bgVideoMobile.one().url() }}" type="video/mp4">
			</video>
		{% elseif entry.introImg.one() %}
			<img class="intro__image" src="{{ entry.introImg.one().url(introThumbSmall) }}" srcset="{{ entry.introImg.one().url(introThumbLarge) }} 1800w, {{ entry.introImg.one().url(introThumbMedium) }} 1024w, {{ entry.introImg.one().url(introThumbSmall) }} 480w" sizes="100vw" alt="{{ siteName }}">
		{% endif %}

		<div class="container">
			<div class="row">
				<div class="gr-24">
					<div class="intro__overlay">
						{% if entry.logo.one() %}
							<div class="intro__logo">
								<img class="intro__logo-image" src="{{ entry.logo.one().url() }}" alt="{{ siteName }}">
							</div>
						{% endif %}
						<a href="#" class="intro__button" data-scrollto=".main">
							<span class="button__text">
								Scroll
							</span>
							{{ svg('@webroot/assets/img/arrow-left.svg')|attr({class: "button__arrow"}) }}
						</a>
					</div>
				</div>
			</div>
		</div>

	</div>


	<main
		class="main">
		{# Modules #}
		{% for module in entry.modules.level(1).all() %}
			{% include["_modules/" ~ module.type] %}
		{% endfor %}
	</main>


{% endblock %}

{% block overlay %}
	{% if overlay.overlayStatus %}
		{% include '_includes/overlay' with {
            image: overlay.overlayImage.one(),
            title: overlay.overlayTitle,
            text: overlay.overlayText,
            link: overlay.overlayLink,
            backgroundColor: overlay.overlayColor
        } %}

	{% endif %}
{% endblock %}
