{% extends '_layouts/master' %}
{% set bodyClass = 'subsite-page' %}

{% block content %}

	{% if entry.type.handle == "scrollToRedirect" %}
		{% redirect siteUrl ~ "?scrollTo=" ~ entry.navText %}
	{% endif %}

	{% set headerImg = entry.headerImg.one() %}
	{% set headerImgMobile = entry.headerImgMobile.one() %}

	{% if headerImg %}
		{# Intro #}
		<div class="intro">

			<picture>
				{% if headerImgMobile %}
					<source media="(max-width: 768px)" srcset="{{ headerImgMobile.url("fullWidthMedium") }}"/>
				{% endif %}
				<source media="(min-width: 1024px)" srcset="{{ headerImg.url("fullWidthLarge") }}"/>
				<source media="(min-width: 480px)" srcset="{{ headerImg.url("fullWidthMedium") }}"/>
				<img class="intro__image" alt="{{ entry.title }}" src="{{ headerImg.url("fullWidthSmall") }}">
			</picture>

			<div class="container">
				<div class="row row-align-center">
					<div class="gr-22 gr-24@medium">
						<div class="intro__overlay">
							<div class="intro__text">
								<h1 class="text--l">{{ entry.title }}</h1>
								<h2 class="text--s text--regular">{{ entry.subheadline }}</h2>
							</div>
							<a href="#" class="intro__button" data-scrollto=".main">
								<span class="button__text">
									Scroll
								</span>
								{{ svg('@webroot/assets/img/arrow-left.svg')|attr({class: "button__arrow"}) }}
							</a>
						</div>
					</div>
				</div>
			</div>

		</div>
	{% endif %}

	<main class="main">
		{% if not headerImg %}
			{# Site Title #}
			<div class="main__header">
				<div class="container">
					<div class="row row-align-center">
						<div class="gr-22 gr-20@small gr-18@medium">
							<h1 class="text--xl">{{ entry.title }}</h1>
							{% if entry.subheadline %}
								<h2 class="text--m">{{ entry.subheadline }}</h2>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		{% endif %}


		{# Modules #}
		{% for module in entry.modules.level(1).all() %}
			{% include["_modules/" ~ module.type] %}
		{% endfor %}

	</main>

{% endblock %}
