<footer class="footer">
	<div class="footer__inner">
		<div class="container">
			<div class="row row-align-center">
				<div class="gr-22 gr-24@medium">
					<a class="footer__email" href="mailto:{{ nav.eMail }}">{{ nav.eMail }}</a><br>
					<a class="footer__phone" href="tel:+41{{ base.phoneNumber|slice(1)|replace({' ': ''}) }}">{{ base.phoneNumber }}</a>
					<p class="footer__copyright">
						{{ '© ' ~ ('now' | date('Y')) ~ ' ' ~ base.footerText }}
					</p>
				</div>
			</div>
		</div>

		<a href="#" class="footer__button" data-scrollto=".main" aria-label="Nach oben scrollen">
			<svg class="footer__arrow" height="41.553" width="8.912" xmlns="http://www.w3.org/2000/svg">
				<path fill="none" stroke="#000" stroke-width="2" d="M4.456 41.553V1.468M.733 5.474l3.724-4.005L8.18 5.474"/>
			</svg>
		</a>

	</div>
</footer>
