{% set thumbTeamLarge = {
  mode: 'crop',
	width: 640
} %}

{% set thumbTeamSmall = {
  mode: 'crop',
	width: 390
} %}

{# Team overlay modals #}
{% if entry is defined and entry.modules %}

	{% for module in entry.modules.level(1).type(['team']).all() %}
		{% for member in module.team.with(['portraitImgSecond']).all() %}
			{% set portraitSecond = member.portraitImgSecond[0] ?? null %}

			<div class="team__overlay-outer" data-trigger="{{ member.slug }}">
				<div class="team__overlay">
					<div class="team__overlay-inner">
						<div class="container--overlay">
							<div class="row">
								<div class="gr-24 gr-10@small suffix-1@small gr-5@medium push-1@large gr-6@large gr-7@huge gr-8@full ">
									<img class="team__image" src="{{ portraitSecond.url(thumbTeamSmall) }}" srcset="{{ portraitSecond.url(thumbTeamSmall)}} 390w, {{ portraitSecond.url(thumbTeamLarge) }} 640w" sizes="(min-width: 1024px) 50vw,
										                  100vw" alt="{{ member.title }}" loading="lazy">
								</div>

								<div class="gr-22 prefix-1 gr-12@small gr-8@medium gr-8@large prefix-0@small gr-7@huge gr-7@full padding-left-hack">
									<div class="team__text">
										<p>
											<span class="team__name">
												{{ member.title }}
											</span><br>
											{{ member.job }}<br>
											<a class="text__link--undecorated" href="mailto:{{ member.eMail }}">{{ member.eMail }}</a><br>
											<a class="text__link--undecorated" href="tel:+41{{ member.phoneNumber|slice(1)|replace({' ': ''}) }}">{{ member.phoneNumber }}</a>
										</p>
										{{ member.wysiwygLeftColumn }}
									</div>
								</div>

								<div class="gr-22 prefix-1 prefix-11@small gr-12@small prefix-1@medium gr-8@medium gr-8@large prefix-0@small gr-7@huge prefix-0@full gr-8@full">
									<div class="team__text">
										{{ member.wysiwygRightColumn }}
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>

		{% endfor %}
	{% endfor %}

{% endif %}
