<div class="nav__wrapper">

	<div class="navbar">

		<a class="navbar__logo" href="{{ siteUrl }}">
			<img src="{{ base.signet.one().url() }}" alt="{{ siteName }}"/>
		</a>

		<button class="navbar__button js-nav-trigger" aria-label="Navigation ein/ausblenden">
			<span class="navbar__icon">
				<span class="navbar__icon-circle"></span>
				<span class="navbar__icon-circle"></span>
				<span class="navbar__icon-circle"></span>
			</span>
		</button>

		<a href="#" class="navbar__arrow" data-scrollto=".main" aria-label="Nach oben scrollen">
			<svg class="" height="41.553" width="8.912" xmlns="http://www.w3.org/2000/svg">
				<path fill="none" stroke="currentColor" stroke-width="2" d="M4.456 41.553V1.468M.733 5.474l3.724-4.005L8.18 5.474"/>
			</svg>
		</a>
	</div>

	<div class="nav__overlay">

		<div class="nav__main">
			<div class="container--overlay">
				<div class="row">

					<div class="gr-20 prefix-2 gr-16@tiny prefix-4@tiny prefix-6@medium">
						<ul class="nav__list nav__list--primary">

							{% for navEntry in nav.mainNav.all() %}
								<li class="nav__item">
									<a href="{{ navEntry.url() }}" class="nav__link js-nav-trigger" {{ navEntry.type.handle == 'scrollToRedirect' ? "data-scrolllink=true data-scrollto=#{navEntry.navText}" }}>{{ navEntry.title }}</a>
								</li>
							{% endfor %}
						</ul>

						<ul class="nav__list">
							{% for navEntry in nav.subNav.all() %}
								<li class="nav__item nav__list--secondary">
									<a href="{{ navEntry.url() }}" class="nav__link--small js-nav-trigger">{{ navEntry.title }}</a>
								</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="nav__extra">
			<div class="container--overlay">
				<div class="row">
					<div class="gr-20 prefix-2 gr-16@tiny prefix-4@tiny gr-12@medium prefix-10@medium">

						<div class="nav__contact">
							<p class="nav__text">{{ nav.navText }}</p>
							<a class="nav__link--small" href="mailto:{{ nav.eMail }}">{{ nav.eMail }}</a><br>
							<a class="nav__link--small" href="tel:+41{{ base.phoneNumber|slice(1)|replace({' ': ''}) }}">{{ base.phoneNumber }}</a>
						</div>

						<div class="nav__social">
							{% if nav.linkedin %}
								<a href="{{ nav.linkedin }}" target="_blank" class="nav__link--social" aria-label="LinkedIn">
									{{ svg("@webroot/assets/img/social-icon-linkedin.svg")|attr({class: "nav__social-icon"}) }}
								</a>
							{% endif %}
							{% if nav.facebook %}
								<a href="{{ nav.facebook }}" target="_blank" class="nav__link--social" aria-label="Facebook">
									{{ svg("@webroot/assets/img/social-icon-facebook.svg")|attr({class: "nav__social-icon"}) }}
								</a>
							{% endif %}
							{% if nav.instagram %}
								<a href="{{ nav.instagram }}" target="_blank" class="nav__link--social" aria-label="Instagram">
									{{ svg("@webroot/assets/img/social-icon-instagram.svg")|attr({class: "nav__social-icon"}) }}
								</a>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

</div>
