{% set link = link|default(null) %}
{% set image = image|default(null) %}
{% set title = title|default(null) %}
{% set text = text|default(null) %}
{% set backgroundColor =  backgroundColor|default("#000000") %}
{% set textColor = backgroundColor is defined and backgroundColor != "#000000" ? (backgroundColor.getLightness() > 50 ? "#000000" : "#FFFFFF" ) : "#FFFFFF"  %}


<div class="overlay__wrapper">
	<div class="overlay" style="background-color:{{ backgroundColor }};color:{{ textColor }}">

		<button class="overlay__closebtn" aria-label="Overlay ausblenden">
			<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 21.85 21.85" width="21.85" height="21.85">
				<path d="m1.33 1.33 19.19 19.19m0-19.19L1.33 20.52" fill="none" stroke="currentColor" stroke-width="3.75"/>
			</svg>
		</button>

		<div class="overlay__content">
			<a href="{{ link.url }}" target="{{ link.targetString }}">
				<img class="overlay__image" src="{{ image.url({width:872}) }}" alt="">
			</a>
			<div class="overlay__title">{{ title }}</div>
			<div class="overlay__text">{{ text }}</div>
			<a href="{{ link.url }}" target="{{ link.targetString }}" class="overlay__button">
				{{ svg('@webroot/assets/img/arrow-right.svg')|attr({class: "button__arrow"}) }}
				<span class="button__text">
					{{ link.text }}
				</span>
			</a>
		</div>

	</div>
</div>
