.blog-entry-page {
  .module--mediagrid {
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;

    @include respond-to(medium) {
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
    }
    @include respond-to(large) {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
  }
}
