{% extends '_layouts/master' %}
{% set bodyClass = 'project-entry-page' %}

{% block content %}

	{# Intro #}
	<div class="intro">

		{% set headerImg = entry.headerImg.one() %}
		{% set headerImgMobile = entry.headerImgMobile.one() %}
		<picture>
			{% if headerImgMobile %}
				<source media="(max-width: 768px)" srcset="{{ headerImgMobile.url("fullWidthMedium") }}"/>
			{% endif %}
			<source media="(min-width: 1024px)" srcset="{{ headerImg.url("fullWidthLarge") }}"/>
			<source media="(min-width: 480px)" srcset="{{ headerImg.url("fullWidthMedium") }}"/>
			<img class="intro__image" alt="{{ entry.title }}" src="{{ headerImg.url("fullWidthSmall") }}">
		</picture>

		<div class="container">
			<div class="row row-align-center">
				<div class="gr-22 gr-24@medium">
					<div class="intro__overlay">
						<div class="intro__text">
							<h1 class="text--l">{{ entry.title }}</h1>
							<h2 class="text--s text--regular">{{ entry.subheadline }}</h2>
						</div>
						<a href="#" class="intro__button" data-scrollto=".main">
							<span class="button__text">
								Scroll
							</span>
							{{ svg('@webroot/assets/img/arrow-left.svg')|attr({class: "button__arrow"}) }}
						</a>
					</div>
				</div>
			</div>
		</div>

	</div>

	<main class="main">

		{% include "_modules/wysiwyg" with {
            moduleAlign: "center",
            textContent: entry.wysiwyg|default(""),
            link: entry.linkIt|default(false),
            linkText: entry.linkIt ? entry.linkIt.text|default(null),
            linkUrl: entry.linkIt ? entry.linkIt.url|default(null)
        } %}

		<div class="container">
			<div class="row">
				<div class="gr-22 prefix-1 prefix-4@medium gr-16@medium">

					<div class="wysiwyg">
						{% for fact in entry.facts %}
							<p>
								<strong>Wer:</strong>
								{{ fact.who }}<br>

								<strong>
									Wie:</strong>
								{{ fact.how }}<br>

								<strong>
									Was:</strong>
								{{ fact.what }}</p>
						{% endfor %}
					</div>

				</div>
			</div>
		</div>

		{% include "_modules/mediagrid" with {
            media: entry.media,
        } %}

		{# Prev and next project #}
		{% set criteria = craft.entries.section("project").limit(null) %}
		{% set prevEntry = craft.entries().prevSiblingOf(entry).one() ?: criteria.inReverse().one() %}
		{% set nextEntry = craft.entries().nextSiblingOf(entry).one() ?: criteria.one() %}
		<div class="container">
			<div class="row row-align-right">
				<div class="gr-24 gr-20@medium suffix-2@medium gr-4@full suffix-0@full no-gutter">

					<div class="button__group--prevnext">
						<a href="{{ prevEntry.url }}" class="button">
							<span class="button__text hide show@medium">
								vorheriges
							</span>
							{{ svg('@webroot/assets/img/arrow-left.svg')|attr({class: "button__arrow"}) }}
						</a>
						<a href="{{ nextEntry.url }}" class="button">
							{{ svg('@webroot/assets/img/arrow-right.svg')|attr({class: "button__arrow"}) }}
							<span class="button__text hide show@medium">
								nächstes
							</span>
						</a>
					</div>

				</div>
			</div>
		</div>

		{% include "_modules/ctaQuote" with {
        quote: entry.quote|default("Explore more"),
        linkUrl: entry.ctaQuote.url|default(siteUrl ~ "work"),
        linkTarget: entry.ctaQuote.target|default(""),
        linkText: entry.ctaQuote.text|default("Work"),
				alignment: "gr-22 push-1 gr-20@medium push-2@medium gr-16@full push-4@full"
    } %}

	</main>


{% endblock %}
