{% extends '_layouts/master' %}
{% set bodyClass = 'project-overview-page' %}

{% block content %}

	{% set thumbCardSmall = {
	mode: 'crop',
	width: 310,
	height: 248
} %}
	{% set thumbCardLarge = {
	mode: 'crop',
	width: 690,
	height: 552
} %}
	{% set thumbCardLargeLandscape = {
	mode: 'crop',
	width: 1387,
	height: 555
} %}


	<main class="main">

		<div class="main__header">
			<div class="container">
				<div class="row">
					<div class="gr-22 prefix-1 prefix-2@medium gr-18@medium">
						<h1 class="text--xl">{{ entry.title }}</h1>
					</div>
				</div>
			</div>
		</div>

		{% include "_modules/wysiwyg" with {
            moduleAlign: "center",
            textContent: entry.lead|default(""),
            link: entry.backButton,
            linkText: "Zurück",
            linkIsHome: true,
            linkUrl: craft.entries.section('home').one().url,
            moduleAnimated: false
        } %}

		<div class="container">
			<div class="row row-align-center card__list-wrapper">
				<div class="gr-24 no-gutter gr-20@medium gutter-left@small gutter-right@small">

					<div class="card__list">
						<div class="row">

							{% set nextLarge = 5 %}

							{% for project in craft.entries.section("project").limit(null).all() %}
								{% set isLarge = nextLarge - loop.index == 0 %}

								<div class="gr-24 {{- isLarge ? '' : ' gr-12@small' -}}">

									{% if isLarge %}
										{% set nextLarge = loop.index + 3 %}
									{% endif %}

									<a class="{{ isLarge ? 'card__item--large' : 'card__item' }}" href="{{ project.url }}">
										{% if isLarge %}
											<img class="card__image" src="{{ project.previewImgLandscape.one().url(thumbCardSmall) }}" srcset="{% if isLarge %} {{ project.previewImgLandscape.one().url(thumbCardLargeLandscape) }} 1387w, {% else %} {{ project.previewImgLandscape.one().url(thumbCardLarge) }} 690w, {% endif %} {{ project.previewImgLandscape.one().url(thumbCardSmall) }} 310w" sizes="{{ isLarge ? '' : '(min-width: 1024px) 50vw, ' }}100vw" alt="{{ project.title ~ ' - ' ~ project.subheadline }}" loading="lazy">
										{% else %}
											<img class="card__image" src="{{ project.previewImgSquare.one().url(thumbCardSmall) }}" srcset="{% if isLarge %} {{ project.previewImgSquare.one().url(thumbCardLargeLandscape) }} 1387w, {% else %} {{ project.previewImgSquare.one().url(thumbCardLarge) }} 690w, {% endif %} {{ project.previewImgSquare.one().url(thumbCardSmall) }} 310w" sizes="{{ isLarge ? '' : '(min-width: 1024px) 50vw, ' }}100vw" alt="{{ project.title ~ ' - ' ~ project.subheadline }}" loading="lazy">
										{% endif %}
										<div class="card__text">
											<h4 class="text--m text--uppercase">{{ project.title }}</h4>
											<p class="text--s">{{ project.subheadline }}</p>
										</div>
									</a>

								</div>
							{% endfor %}

						</div>
					</div>

				</div>
			</div>
		</div>

		{# Modules #}
		{% for module in entry.modules.level(1).all() %}
			{% include["_modules/" ~ module.type] %}
		{% endfor %}

	</main>
{% endblock %}
