<!DOCTYPE html>
<html lang='{{ craft.app.language }}'>
{% set assets = '/assets/' %}
{% set css = assets ~ 'css/' %}
{% set favicons = assets ~ 'favicons/' %}
{% set img = assets ~ 'img/' %}
{% set js = assets ~ 'js/' %}

<head>
    <meta charset='utf-8'/>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <title>
        {%- if entry['metaTitle'] is defined and entry['metaTitle'] is not null -%}
            {{ entry['metaTitle'] }}
        {%- elseif entry.title is defined and entry.title is not null -%}
            {{ entry.title }}
            &ndash;
            {{ siteName }}
        {%- else -%}
            {{ siteName }}
        {%- endif -%}
    </title>

    <meta name='description' content='{{ entry['metaDescription'] is defined ? entry['metaDescription'] }}'>

    {%- include '_includes/opengraphtags' -%}

    <link rel="apple-touch-icon" sizes="180x180" href="{{ favicons }}apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ favicons }}favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ favicons }}favicon-16x16.png">
    <link rel="manifest" href="{{ favicons }}site.webmanifest">
    <link rel="mask-icon" href="{{ favicons }}safari-pinned-tab.svg" color="#000000">
    <link rel="shortcut icon" href="{{ favicons }}favicon.ico">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="msapplication-config" content="{{ favicons }}browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <meta name="format-detection" content="telephone=no">

    <link rel='home' href='{{ siteUrl }}'/>

    {% block customStyles %}
        {%- include '_layouts/includes/styles' -%}
    {% endblock customStyles %}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-37P56X142T"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-37P56X142T');
    </script>

</head>
<body class='{{ bodyClass is defined ? bodyClass }}'>
