{% set assets = "/assets/" %}
{% set css = assets ~ "css/" %}

{% css css ~ "style.min.css" %}

<link rel="preload" href="/assets/fonts/kanit-v11-latin-300.woff" as="font" type="font/woff" crossorigin>
<link rel="preload" href="/assets/fonts/kanit-v11-latin-300.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/assets/fonts/kanit-v11-latin-500.woff" as="font" type="font/woff" crossorigin>
<link rel="preload" href="/assets/fonts/kanit-v11-latin-500.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/assets/fonts/kanit-v11-latin-700.woff" as="font" type="font/woff" crossorigin>
<link rel="preload" href="/assets/fonts/kanit-v11-latin-700.woff2" as="font" type="font/woff2" crossorigin>
