{% include '_layouts/includes/head' %}

{# Navigation bar and menu #}
{% include '_includes/nav' %}
<div data-scroll-container>

	{# Content block #}
	{% block content %}
    {% endblock %}

	{# Footer #}
	{% include '_includes/footer' %}

</div>

{% block overlay %}
{% endblock %}

{% include '_includes/modals' %}

{% include '_layouts/includes/end' %}
