{% extends '_layouts/master' %}
{% set bodyClass = 'blog-entry-page' %}

{% block content %}

	{% set headerImg = entry.headerImg.one() %}
	{% set headerImgMobile = entry.headerImgMobile.one() %}

	{% if headerImg %}
		{# Intro #}
		<div class="intro">

			<picture>
				{% if headerImgMobile %}
					<source media="(max-width: 768px)" srcset="{{ headerImgMobile.url("fullWidthMedium") }}"/>
				{% endif %}
				<source media="(min-width: 1024px)" srcset="{{ headerImg.url("fullWidthLarge") }}"/>
				<source media="(min-width: 480px)" srcset="{{ headerImg.url("fullWidthMedium") }}"/>
				<img class="intro__image" alt="{{ entry.title }}" src="{{ headerImg.url("fullWidthSmall") }}">
			</picture>

			<div class="container">
				<div class="row row-align-center">
					<div class="gr-22 gr-24@medium">
						<div class="intro__overlay">
							<div class="intro__text">
								<h1 class="text--l">{{ entry.title }}</h1>
								<h2 class="text--s text--regular">{{ entry.subheadline }}</h2>
							</div>
							<a href="#" class="intro__button" data-scrollto=".main">
								<span class="button__text">
									Scroll
								</span>
								{{ svg('@webroot/assets/img/arrow-left.svg')|attr({class: "button__arrow"}) }}
							</a>
						</div>
					</div>
				</div>
			</div>

		</div>
	{% endif %}

	<main class="main">
		{% if not headerImg %}
			{# Site Title #}
			<div class="main__header">
				<div class="container">
					<div class="row row-align-center">
						<div class="gr-22 gr-20@small gr-18@medium">
							<h1 class="text--xl">{{ entry.title }}</h1>
						</div>
					</div>
				</div>
			</div>
		{% endif %}

		<div class="main__date">
			<div class="container">
				<div class="row">
					<div class="gr-22 prefix-1 gr-20@small prefix-2@small prefix-4@medium gr-16@medium">
						<date>{{ entry.postDate|date("d.m.Y") }}</date>
					</div>
				</div>
			</div>
		</div>

		{# Modules #}
		{% for module in entry.modules.level(1).all() %}
			{% include["_modules/" ~ module.type] %}
		{% endfor %}

	</main>

	{# show other blog entries #}
	{% set blogEntries = craft.entries.section("blog").id('not ' ~ entry.id).orderBy('RAND()').limit(3).all() %}
	{% set thumbCardSmall = {
        mode: 'crop',
        width: 310,
        height: 248
    } %}
	{% set thumbCardLarge = {
        mode: 'crop',
        width: 690,
        height: 552
    } %}

	<div class="module module--large-spacing">
		<div class="container">
			<div class="row row-align-center">
				<div class="gr-22 gr-20@medium gr-16@full no-gutter">
					<div class="row">
						<div class="gr-24">
							<h5 class="module__subtitle">
								Beiträge die dich ebenfalls interessieren könnten:
							</h5>
						</div>
						{% for blogEntry in blogEntries %}
							{% set img = blogEntry.previewImgLandscape.one() ?? blogEntry.headerImg.one()|default(null) %}
							<div class="gr-24 gr-8@tiny">

								<a class="card__item" href="{{ blogEntry.url }}">
									{% if img %}
										<img class="card__image" src="{{ img.url(thumbCardSmall) }}" srcset="{{ img.url(thumbCardLarge) }} 690w, {{ img.url(thumbCardSmall) }} 310w" sizes="(min-width: 1024px) 50vw, 100vw" alt="{{ blogEntry.title }}" loading="lazy">
									{% endif %}
									<div class="card__text">
										<date class="text--xxs text--medium">{{ blogEntry.postDate|date("d.m.Y") }}</date>
										<h4 class="text--m text--uppercase">{{ blogEntry.title }}</h4>
									</div>
								</a>

							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>

	{% include "_modules/ctaQuote" with {
        quote: entry.quote|default("Here we talk"),
        linkUrl: entry.ctaQuote.url|default(craft.entries.section("blogOverview").one().url),
        linkTarget: entry.ctaQuote.target|default(""),
        linkText: entry.ctaQuote.text|default("Blog"),
        alignment: "gr-22 push-1 push-0@medium"
    } %}


{% endblock %}
