{% extends '_layouts/master' %}
{% set bodyClass = 'blog-overview-page' %}

{% block content %}

	{% set thumbCardSmall = {
    mode: 'crop',
	width: 310,
	height: 248
} %}
	{% set thumbCardLarge = {
	mode: 'crop',
	width: 690,
	height: 552
} %}
	{% set thumbCardLargeLandscape = {
	mode: 'crop',
	width: 1387,
	height: 555
} %}


	<main class="main">

		<div class="main__header">
			<div class="container">
				<div class="row">
					<div class="gr-22 prefix-1 prefix-2@medium gr-18@medium">
						<h1 class="text--xl">{{ entry.title }}</h1>
					</div>
				</div>
			</div>
		</div>

		{% include "_modules/wysiwyg" with {
            moduleAlign: "center",
            textContent: entry.lead|default(""),
            link: entry.backButton,
            linkText: "Zurück",
            linkIsHome: true,
            linkUrl: craft.entries.section('home').one().url,
            moduleAnimated: false
        } %}

		<div class="container">
			<div class="row row-align-center card__list-wrapper">
				<div class="gr-24 no-gutter gr-20@medium gutter-left@small gutter-right@small">

					<div style="padding-top: 0;" class="card__list">
						<div class="row">


							{% for blogEntry in craft.entries.section("blog").limit(null).all() %}
								{% set img = blogEntry.previewImgLandscape.one() ?? blogEntry.headerImg.one()|default(null) %}
								<div class="gr-24 gr-12@small">
									<div class="card--blog">
										<a class="card__item" href="{{ blogEntry.url }}">
											{% if img %}
												<img class="card__image" src="{{ img.url(thumbCardSmall) }}" srcset="{{ img.url(thumbCardLarge) }} 690w, {{ img.url(thumbCardSmall) }} 310w" sizes="(min-width: 1024px) 50vw, 100vw" alt="{{ blogEntry.title }}" loading="lazy">
											{% endif %}
											<div class="card__text">
												<h4 class="text--m text--uppercase">{{ blogEntry.title }}</h4>
											</div>
										</a>
										<div class="card__below">
											<div style="margin-bottom:0.25em;">
												<date class="text--xxs text--medium">{{ blogEntry.postDate|date("d.m.Y") }}</date>
												<p class="text--s">{{ blogEntry.modules.type('wysiwyg').one().wysiwyg|default(null)|striptags|truncate(165) }}</p>
											</div>
											<a href="{{ blogEntry.url }}" class="button">
												{{ svg('@webroot/assets/img/arrow-right.svg')|attr({class: "button__arrow"}) }}
												<span class="button__text">Zum Artikel</span>
											</a>
										</div>
									</div>
								</div>
							{% endfor %}

						</div>
					</div>

				</div>
			</div>
		</div>

		{# Modules #}
		{% for module in entry.modules.level(1).all() %}
			{% include["_modules/" ~ module.type] %}
		{% endfor %}

	</main>
{% endblock %}
