.no-bottom-padding {
  padding-bottom: 0 !important;
}

.padding-left-hack {
  @include respond-to(large) {
    padding-left: 30px;
  }
  @include respond-to(huge) {
    padding-left: 50px;
  }
}

.error-img {
  width: 100%;
  @include respond-to(tiny) {
    width: 300px;
  }
  @include respond-to(large) {
    margin-top: -9rem;
    width: 300px;
  }
  @include respond-to(huge) {
    margin-top: -7rem;
    width: 400px;
  }
  @include respond-to(full) {
    margin-top: -10rem;
    width: 530px;
  }
}

.error-btn {
  @include respond-to(large) {
    margin-top: 10px;
  }
}
