@charset "utf-8";

@import "gridle/sass/gridle/gridle-flex", "variables", "mixins";

// check the documentation http://gridle.org/documentation

// setting up the grid
@include gridle_setup(
  (
    context: $columns-amount,
    gutter-width: $gutter-width,
  )
);

@include gridle_register_state(
  tiny,
  (
    query: map-get($breakpoints, tiny),
    gutter-width: $gutter-width-tiny,
  )
);

@include gridle_register_state(
  small,
  (
    query: map-get($breakpoints, small),
    gutter-width: $gutter-width-small,
  )
);

@include gridle_register_state(
  medium,
  (
    query: map-get($breakpoints, medium),
    gutter-width: $gutter-width-medium,
  )
);

@include gridle_register_state(
  large,
  (
    query: map-get($breakpoints, large),
    gutter-width: $gutter-width-large,
  )
);

@include gridle_register_state(
  huge,
  (
    query: map-get($breakpoints, huge),
    gutter-width: $gutter-width-huge,
  )
);

@include gridle_register_state(
  full,
  (
    query: map-get($breakpoints, full),
    gutter-width: $gutter-width-full,
  )
);

// make the use of media queries a piece of cake

// Generate classes
@include gridle_generate_classes(all, -debug);
@import "grid-helpers";

/**
 * Main page container
 */

.container {
  width: $container-width;
  max-width: $container-max-width;
  margin: 0 auto;

  @include respond-to(tiny) {
    width: $container-width-tiny;
  }
  @include respond-to(small) {
    width: $container-width-small;
  }
  @include respond-to(medium) {
    width: $container-width-medium;
  }
  @include respond-to(large) {
    width: $container-width-large;
  }
  @include respond-to(huge) {
    width: $container-width-huge;
  }
  @include respond-to(full) {
    width: $container-width-full;
  }
}

.container--overlay {
  width: $container-width-overlay;
  max-width: $container-max-width;
  margin: 0 auto;

  @include respond-to(medium) {
    width: $container-width-overlay-medium;
  }
  @include respond-to(large) {
    width: $container-width-overlay-large;
  }
  @include respond-to(huge) {
    width: $container-width-overlay-huge;
  }
  @include respond-to(full) {
    width: $container-width-overlay-full;
  }
}

/**
 * Fix negative margins for breakpoints
 */

.row {
  @include respond-to(large) {
    margin-left: -($gutter-width-large / 2);
    margin-right: -($gutter-width-large / 2);
  }

  @include respond-to(medium) {
    margin-left: -($gutter-width-medium / 2);
    margin-right: -($gutter-width-medium / 2);
  }

  @include respond-to(small) {
    margin-left: -($gutter-width-small / 2);
    margin-right: -($gutter-width-small / 2);
  }
}

/**
 * Small hack for a big problem, used to enable the background colors,
 * images inside a grid block
 * 4 ex:
 *  .row
 *    .gr-12
 *      .gr-inner
 *        row style="background:white"
 *          .gr-6
 *          .gr-6
 */
.gr-inner {
  margin-left: $gutter-width / 2;
  margin-right: $gutter-width / 2;

  @include respond-to(large) {
    margin-left: $gutter-width-large / 2; // the half of the gutter width on large!
    margin-right: $gutter-width-large / 2;
  }

  @include respond-to(medium) {
    margin-left: $gutter-width-medium / 2; // the half of the gutter width on medium!
    margin-right: $gutter-width-medium / 2;
  }

  @include respond-to(small) {
    margin-left: $gutter-width-small / 2; // the half of the gutter width on small!
    margin-right: $gutter-width-small / 2;
  }
}
