@include gridle_generate_custom_class(('no-gutter','@','%state')) {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
@include gridle_generate_custom_class(('no-gutter-left','@','%state')) {
    padding-left: 0 !important;
}
@include gridle_generate_custom_class(('no-gutter-right','@','%state')) {
    padding-right: 0 !important;
}
@include gridle_generate_custom_class(('gutter-right','@','%state')) {
    padding-left: map-get(gridle_current_state(), 'gutter-left') !important;
    padding-right: map-get(gridle_current_state(), 'gutter-right') !important;
}
@include gridle_generate_custom_class(('gutter-left','@','%state')) {
    padding-left: map-get(gridle_current_state(), 'gutter-left') !important;
}
@include gridle_generate_custom_class(('gutter-right','@','%state')) {
    padding-right: map-get(gridle_current_state(), 'gutter-right') !important;
}
@include gridle_generate_custom_class(('tac','@','%state')) {
    text-align: center !important;
}
@include gridle_generate_custom_class(('tal','@','%state')) {
    text-align: left !important;
}
@include gridle_generate_custom_class(('tar','@','%state')) {
    text-align: right !important;
}
