// Variables

// CUSTOM VARIABLES
$color-white: #ffffff;
$color-black: #000000;

// Fonts
$font-base: "Kanit";
$font-regular: 300;
$font-medium: 500;
$font-bold: 700;

// Fixed widths and heights
$navbar-width: 137px;
$navbar-height: 64px;

// Z Index
$z-teaser-image: 1;
$z-teaser-text: 2;
$z-team-overlay: 9;
$z-nav-overlay: 10;
$z-navbar: 20;
$z-arrow-scrolltotop: 25;
$z-nav-icon-circles-even: 30;
$z-nav-icon-circles-odd: 40;
$z-scrollbar: 50;

// SETUP VARIABLES

// Responsive breakpoints
$break-tiny: "480px";
$break-small: "768px";
$break-medium: "1024px";
$break-large: "1200px";
$break-huge: "1440px";
$break-full: "1680px";

$breakpoints: (
  tiny: "only screen and (min-width: #{$break-tiny})",
  small: "only screen and (min-width: #{$break-small})",
  medium: "only screen and (min-width: #{$break-medium})",
  large: "only screen and (min-width: #{$break-large})",
  huge: "only screen and (min-width: #{$break-huge})",
  full: "only screen and (min-width: #{$break-full})",
  landscape: "only screen and (orientation:landscape)",
  portrait: "only screen and (orientation:portrait)",
  retina:
    "only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi)",
);

// Grid
$columns-amount: 24;
$container-max-width: 1666px;

$gutter-width: 10px;
$gutter-width-full: 10px;
$gutter-width-huge: 10px;
$gutter-width-large: 10px;
$gutter-width-medium: 10px;
$gutter-width-small: 10px;
$gutter-width-tiny: 10px;

$container-width: calc(100% - #{$gutter-width * 2});
$container-width-full: calc(100% - #{$navbar-width * 2});
$container-width-huge: calc(100% - #{$navbar-width * 2});
$container-width-large: calc(100% - #{$navbar-width * 2});
$container-width-medium: calc(100% - #{$navbar-width * 2});
$container-width-small: calc(100% - #{$gutter-width-small * 2});
$container-width-tiny: calc(100% - #{$gutter-width-tiny * 2});

// Special nav container
$container-width-overlay: calc(100% - #{$gutter-width * 2});
$container-width-overlay-full: calc(100% - #{$gutter-width-full * 2});
$container-width-overlay-huge: calc(100% - #{$gutter-width-huge * 2});
$container-width-overlay-large: calc(100% - #{$gutter-width-large * 2});
$container-width-overlay-medium: calc(100% - #{$gutter-width-medium * 2});
