.accordion {
  &__wrapper {
    border-top: 1px solid black;

    &:last-of-type {
      margin-bottom: 0;
      border-bottom: 1px solid black;
    }

    &.js-expanded {
      .accordion__icon {
        transform: translateY(-38%) scaleY(-1);
      }
      .accordion__content {
        transition: height 250ms ease-in;
      }
    }
    &.js-collapsed {
      .accordion__content {
        transition: height 150ms ease-out;
      }
    }
  }

  &__inner {
    position: relative;
  }

  &__title {
    @extend .text--s;
    font-weight: $font-bold;
    display: flex;
    align-items: center;
    min-height: 4rem;
    cursor: pointer;

    padding: 1rem 2rem 1rem 0rem;
    @include respond-to(medium) {
      padding: 1.5rem 3.5rem 1.5rem 1rem;
    }
  }

  &__icon {
    position: absolute;
    right: 0;
    padding: 0.5rem;
    top: 50%;
    transform: translateY(-38%);
    transition: transform 150ms ease;
    cursor: pointer;

    @include respond-to(medium) {
      right: 0.5rem;
      padding: 1rem;
    }
  }

  &__content {
    margin-top: -1.25rem;
    margin-bottom: 1.25rem;
  }

  &__text {
    @extend .text--s;
    color: black;
    padding: 0rem 2rem 1rem 0rem;

    @include respond-to(medium) {
      padding: 0rem 3.5rem 1.5rem 1rem;
    }
  }
}
