.card {
  &__list {
    @extend .module--large-spacing-bottom;
  }

  &__list-wrapper {
    @include breakpoint-down($break-small) {
      margin-left: 50% !important;
      margin-right: 0 !important;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      -moz-transition: translateX(-50%);
      width: 100vw;
      flex-basis: initial;
      max-width: 100vw;
    }
  }
  &__item {
    display: block;
    color: $color-white;
    background: rgba($color-black, 0.2);
    overflow: hidden;
    position: relative;
    margin-bottom: 10px;
    padding-top: calc(100% * (4 / 5));
    transition: all 500ms ease;

    &--large {
      @extend .card__item;
      @include respond-to(small) {
        padding-top: calc(100% * (4 / 5) / 2);
      }
    }
    &--landscape {
      @extend .card__item;
      @include respond-to(small) {
        padding-top: calc(100% * (113 / 199));
      }
    }

    &:hover {
      background: rgba($color-black, 0);
      .card__image {
        transform: scale(1.05);
      }
    }
  }

  &__image {
    position: absolute;
    top: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
    mix-blend-mode: multiply;
    transition: transform 500ms ease;
  }

  &__text {
    position: absolute;
    bottom: calc(10px + 4.16667%);
    left: calc(10px + 4.16667%);
    right: calc(10px + 4.16667%);

    .card__item--large & {
      left: calc(10px + 2.083335%);
      right: calc(10px + 2.083335%);
    }
  }

  &--blog {
    margin-bottom: 1.25rem;

    @include respond-to(medium) {
      margin-bottom: 3.5rem;
    }

    @include respond-to(large) {
      margin-bottom: 4.75rem;
    }

    .card__item {
      &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(
          rgba($color-black, 0) 50%,
          rgba($color-black, 0.3)
        );
      }
    }
  }

  &__below {
    @include breakpoint-down($break-small) {
      margin: 0 calc(10px + 4.16667%);
    }
  }

  &--elevated {
    @include respond-to(small) {
      margin-top: 3.5em;
      margin-bottom: -3.5em;
    }
    @include respond-to(medium) {
      margin-top: 8.5em;
      margin-bottom: -8.5em;
    }
  }
}
