.intro {
  padding-top: 0;
  color: $color-white;
  height: calc(100vh - #{$navbar-height});
  height: calc(calc(var(--vh, 1vh) * 100) - 44px);
  background-color: $color-black;

  .home-page & {
    height: 100vh;
    height: calc(calc(var(--vh, 1vh) * 100));
  }

  @include respond-to(medium) {
    height: 100vh;
  }

  &__video,
  &__image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-width: 100%;
    top: 0;
    left: 0;

    body:not(.home-page) & {
      opacity: 0.5;
    }
  }

  &__overlay {
    position: relative;
  }

  &__logo {
    position: absolute;
    bottom: 50%;
    left: 50%;
    width: 50%;
    height: 50vh;
    display: flex;
    transform: translate(-50%, -50%);
  }

  &__logo-image {
    width: 100%;
    height: auto;
    max-height: 100%;
    display: block;
  }

  &__button {
    @extend .button--inverted;
    position: absolute;
    bottom: 1.5rem;
    right: 4.166%;
    transform-origin: bottom left;
    transform: translateX(100%) rotate(270deg);

    .button__arrow {
      animation: wiggle 750ms ease-in-out infinite;
    }
  }

  &__text {
    position: absolute;
    bottom: 3rem;
  }
}
