.listing {
  @extend .text--s;

  @include respond-to(medium) {
    columns: 3;
    column-gap: 9%;
    min-height: 5em;
  }

  &__link {
    @extend .text__link--undecorated;
    @extend .text--medium;
  }
}
