.marquee {
  width: fit-content;
  display: flex;
  flex: auto;
  flex-direction: row;
  user-select: none;

  &__part {
    @extend .text--xl;
    flex-shrink: 0;
  }

  &__word {
    margin: 0 0.5ch;
  }
  &__separator {
    display: inline-block;
    width: 0.2em;
    height: 0.2em;
    margin-bottom: 0.2em;
    background-color: currentColor;
    border-radius: 50%;
  }
}
