.mediagrid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -20px;

  &__item {
    padding: 20px;
    flex: 1 0 100%;

    &--portrait {
      @extend .mediagrid__item;
      @include respond-to(small) {
        flex: 1 0 50%;
      }
    }
    &--landscape {
      @extend .mediagrid__item;
    }
  }
  &__image,
  &__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
