.navbar {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: $color-white;
  overflow: hidden;
  user-select: none;
  z-index: $z-navbar;

  .home-page & {
    @include breakpoint-down($break-medium) {
      transform: translateY(-100%);
    }
    @include respond-to(medium) {
      transform: translateX(100%);
    }
  }

  @include breakpoint-down($break-medium) {
    width: 100%;
    height: $navbar-height;
    box-shadow: 0 3px 20px rgba($color-black, 0.05);
  }

  @include respond-to(medium) {
    flex-direction: column;
    right: 0;
    width: $navbar-width;
    height: 100vh;
    padding-top: 47px;
    padding-bottom: 110px;
  }

  &__button {
    @extend .button;
    pointer-events: none;
    display: flex;
    align-items: center;

    @include respond-to(medium) {
      flex-direction: column;

      body:not(.js-nav-active):not(.js-overlay-active) & {
        &:hover {
          .navbar__icon-circle {
            &:nth-child(1) {
              transform: translateY(-2px);
            }
            &:nth-child(3) {
              transform: translateY(2px);
            }
          }
        }
      }
      body.js-nav-active &,
      body.js-overlay-active & {
        &:hover {
          .navbar__icon-circle {
            &:nth-child(1) {
              transform: translateY(13px) rotate(45deg) scale(0.4, 3.7);
            }
            &:nth-child(3) {
              transform: translateY(-13px) rotate(-45deg) scale(0.4, 3.7);
            }
          }
        }
      }
    }
  }

  &__logo {
    pointer-events: auto;
    width: 29px;
    height: auto;
    padding-right: 6px;
    transition: opacity 700ms cubic-bezier(1, 0, 0, 1);
    @include respond-to(medium) {
      padding: 0 0 16px 0;
      width: 49px;
    }
    .js-nav-active &,
    .js-overlay-active & {
      opacity: 0;
    }
  }

  &__icon {
    pointer-events: auto;
    display: flex;
    width: 26px;
    height: 26px;
    align-items: center;
    justify-content: space-evenly;
    transition: all 700ms cubic-bezier(1, 0, 0, 1);
    .js-nav-active &,
    .js-overlay-active & {
      transform: translateX(-50%);
    }

    @include respond-to(medium) {
      flex-direction: column;
      width: 44px;
      height: 44px;

      .js-nav-active &,
      .js-overlay-active & {
        transform: translateY(-100%);
      }
    }
  }

  &__icon-circle {
    width: 6px;
    height: 6px;
    background-color: $color-black;
    border-radius: 50%;
    pointer-events: none;
    transition: all 350ms ease;
    z-index: $z-nav-icon-circles-odd;

    @include respond-to(medium) {
      width: 9px;
      height: 9px;
    }

    &:nth-child(2) {
      transition: all 700ms cubic-bezier(1, 0, 0, 1);
      z-index: $z-nav-icon-circles-even;
      .js-nav-active & {
        transform: scale(500);
      }
      .js-overlay-active & {
        transform: scale(0);
      }
    }

    .js-nav-active & {
      &:nth-child(1),
      &:nth-child(3) {
        background-color: $color-white;
      }
    }
    .js-nav-active &,
    .js-overlay-active & {
      &:nth-child(1) {
        border-radius: 0;
        transform: translateX(8px) rotate(45deg) scale(0.6, 5);
        @include respond-to(medium) {
          transform: translateY(13px) rotate(45deg) scale(0.4, 3);
        }
      }

      &:nth-child(3) {
        border-radius: 0;
        transform: translateX(-8px) rotate(-45deg) scale(0.6, 5);
        @include respond-to(medium) {
          transform: translateY(-13px) rotate(-45deg) scale(0.4, 3);
        }
      }
    }
  }

  &__arrow {
    @extend .button;
    animation: wiggle-vertical 750ms ease-in-out infinite;
    margin-top: auto;

    @include breakpoint-down($break-medium) {
      display: none;
    }
  }
}
