.nav {
  &__wrapper {
    overflow: hidden;
  }

  &__overlay {
    position: fixed;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: $color-black;
    color: $color-white;
    z-index: $z-nav-overlay;
    transition: transform 600ms cubic-bezier(0.33, 0, 0.43, 1);

    .js-nav-active & {
      transition: transform 500ms 250ms cubic-bezier(0.33, 0, 0.43, 1);
    }

    ::selection {
      background-color: $color-white;
      color: $color-black;
    }

    @include breakpoint-down($break-medium) {
      bottom: 100%;
      left: 0;
      width: 100%;
      height: calc(100vh - #{$navbar-height});
      height: calc(calc(var(--vh, 1vh) * 100) - #{$navbar-height});

      .home-page & {
        height: 100vh;
        height: calc(calc(var(--vh, 1vh) * 100));
      }

      .js-nav-active & {
        transform: translateY(calc(100% + #{$navbar-height}));
      }
    }
    @include respond-to(medium) {
      top: 0;
      left: 100%;
      width: 50%;
      height: 100%;
      .js-nav-active & {
        transform: translateX(calc(-100% - #{$navbar-width}));
      }
    }
  }

  &__main {
    user-select: none;
    margin-bottom: 6vh;
    @include respond-to(medium) {
      margin-bottom: 10vh;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    &--primary {
      @extend .text--l;
    }
    &--secondary {
      @extend .text--s;
    }
  }

  &__link {
    display: inline-block;
    color: $color-white;
    text-decoration: none;
    transition: transform 250ms ease;
    &:hover {
      transform: translateX(4px);
    }

    &--small {
      @extend .text__link--undecorated;
      display: inline-block;
      color: $color-white;
    }

    &--social {
      display: inline-block;
      text-decoration: none;
      transition: all 250ms ease;

      &:hover {
        opacity: 1 !important;
        transform: scale(1.05) !important;
      }
    }
  }

  &__contact {
    @extend .text--s;
    margin-top: 1rem;
  }
  &__text {
    @extend .text--medium;
  }

  &__social {
    display: inline-block;
    margin-top: 1rem;
    user-select: none;

    &:hover {
      .nav__link--social {
        opacity: 0.5;
      }
    }
  }
  &__social-icon {
    margin-right: 6px;
  }
}
