.overlay {
  background: $color-black;
  color: $color-white;
  width: 100%;
  padding: 2.5rem;
  padding-bottom: 1.5rem;
  max-width: 516px;

  &__wrapper {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    bottom: -100%;
    left: 2.5rem;
    right: 2.5rem;
    transition: transform 250ms ease, opacity 300ms ease;

    &.overlay--visible {
      transform: translateY(-100svh);
      opacity: 1;
    }

    @include respond-to(medium) {
      left: initial;
      right: $navbar-width;
    }
  }

  &__closebtn {
    @extend .button;
    position: absolute;
    top: 1.25rem;
    right: 1.75rem;
    svg {
      transition: transform 150ms ease;
    }
    &:hover > svg {
      transform: scale(1.1);
    }
  }

  &__image {
    margin-bottom: 1rem;
  }

  &__title {
    @extend .text--s;
    @extend .text--bold;
    text-transform: uppercase;
  }
  &__text {
    @extend .text--s;
    margin-bottom: 1rem;
  }
  &__button {
    @extend .button;
  }
}
