.quote {
  @extend .text__link--unstyled;
  display: block;
  transition: transform 400ms ease;

  &:hover {
    transform: scale(1.04);
    .quote__button {
      animation: wiggle 600ms ease-in-out 1;
    }
  }

  &__text {
    @extend .text--xxl;
    display: inline;
    margin-right: 0.75rem;
    word-break: normal;
  }

  &__cta {
    display: inline;
  }

  &__button {
    @extend .button;
  }
}
