.teaser {
  background-color: $color-black;
  color: $color-white;

  &__title {
    @extend .text--xl;
    padding-top: 70px;
    padding-bottom: 35px;

    @include respond-to(medium) {
      writing-mode: tb-rl;
      transform: rotate(-180deg);
      padding-top: 0;
      padding-bottom: 25vh;
    }
  }

  &__info {
    padding-bottom: 60px;

    @include respond-to(medium) {
      padding-top: 25vh;
    }
  }
  &__intro {
    @extend .wysiwyg;
    margin-bottom: 35px;
  }
  &__button {
    @extend .button;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 35px;
  }

  &__list-item {
    @extend .text--s;
    cursor: pointer;
    &:hover:not(.teaser__list-item--active),
    &:active:not(.teaser__list-item--active) {
      opacity: 0.8;
    }
    &--active {
      font-weight: $font-bold;
      cursor: default;
    }
  }

  &__gallery-wrapper {
    @include breakpoint-down($break-medium) {
      margin-left: 50% !important;
      margin-right: 0 !important;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      -moz-transition: translateX(-50%);
      width: 100vw;
      flex-basis: initial;
      max-width: 100vw;
    }
  }

  &__item {
    display: block;
    color: inherit;
    position: relative;
    padding-top: calc(100% * (6 / 5));

    @include respond-to(medium) {
      padding-top: 0;
      height: 100vh;
    }

    &:hover {
      .teaser__image {
        transform: scale(1.05);
        opacity: 1;
      }
    }
  }

  &__image-wrapper {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    @include respond-to(full) {
      width: calc(50vw - #{$navbar-width} + 70px);
    }
  }

  &__image {
    pointer-events: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
    opacity: 0.8;
    transition: all 500ms ease;

    @include respond-to(full) {
      max-width: initial;
    }
  }

  &__text {
    position: absolute;
    bottom: 5%;
    left: 8.333%;
  }
}
