.team {
  // Overview
  // .row-full until medium viewport (but without the !important)
  &__row {
    @include breakpoint-down($break-medium) {
      margin-left: -10px;
      margin-right: -10px;
      width: 100vw;
    }
  }

  &__trigger {
    cursor: pointer;
    margin-bottom: 2.5rem;

    &:hover {
      .team__profile-image {
        transform: scale(1.075);
      }

      .button__arrow {
        animation: wiggle 600ms ease-in-out 1;
      }
    }
    // Hacky way to make the pinned overlays truly invisible and unclickable
    + .pin-spacer {
      pointer-events: none;
    }
  }

  &__profile {
    display: flex;
  }

  &__profile-image {
    flex: 1 0 68%;
    display: flex;
    align-items: flex-end;
    transition: transform 400ms ease;
    transform-origin: 72.5% 85%;
  }

  &__profile-info {
    @extend .text--s;
    flex: 0 1 auto;
    writing-mode: tb-rl;
    transform: rotate(-180deg);
    display: flex;
    align-items: flex-end;
    padding-right: 0.75rem;
  }

  &__name {
    font-weight: $font-medium;
    text-transform: uppercase;
  }

  &__cta {
    display: flex;
    justify-content: flex-end;
    margin-top: 0.5rem;
    padding-right: 1.5rem;
  }

  &__button {
    @extend .button;
  }
  // Overlay
  &__overlay-outer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    opacity: 0;
    z-index: $z-team-overlay;
    @include respond-to(medium) {
      width: calc(100% - #{$navbar-width});
    }

    &--active {
      transition: opacity 500ms ease;
      opacity: 1;
      pointer-events: auto;
    }
  }

  &__overlay {
    height: 100%;
    background-color: $color-white;
  }

  &__overlay-inner {
    padding: 8vh 0 4vh;
    @include respond-to(medium) {
      padding: 14vh 0 7vh;
    }
    @include respond-to(large) {
      padding: 9vh 0 7vh;
    }
    @include respond-to(huge) {
      padding: 12vh 0 7vh;
    }
    @include respond-to(full) {
      padding: 12vh 0 7vh;
    }
  }

  &__text {
    @extend .wysiwyg;
    @include breakpoint-down($break-large) {
      margin-top: 1.5rem;
    }
    // @include respond-to(large) {
    //   columns: 2;
    //   column-gap: 9%;
    //   min-height: 100%;
    //
    // }
  }
}
