.wysiwyg {
  @extend .text--s;
  hyphens: auto;
  break-inside: avoid;
  margin-bottom: 0.5em;

  h1,
  h2,
  h3,
  h4 {
    break-before: auto;
    break-after: avoid;
  }
  h1 {
    @extend .text--xl;
  }
  h2,
  h3,
  h4 {
    @extend .text--s;
    font-weight: $font-bold;
  }

  a {
    @extend .text__link;
  }

  p + p,
  p + h2,
  p + h3,
  p + h4 {
    margin-top: 1em;
  }

  p,
  ul,
  ol {
    break-inside: avoid;
    break-before: avoid;
    break-after: avoid;
  }

  ul {
    list-style: "•";
    padding-left: 1ch;
    > li {
      padding-left: 1ch;
    }
  }

  &__cta {
    display: block;
    margin-top: 1 rem;
  }

  &__button {
    @extend .button;
  }
}
